<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="app"
			 providerName="System.Data.SqlClient"
			 connectionString="Server=HASSANABUGHREEB;
			 Database=Questions_DB;
			 User=sa;
			 Password=sedco123;
			 Trusted_Connection = false;
			 Encrypt=false;
			 "/>
	</connectionStrings>
</configuration>