<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<clear/>
		<add name="hassan"
			 providerName="System.Data.SqlClient"
			 connectionString="Server=HASSANABUGHREEB;
			 Database=Questions_DB;
			 Trusted_Connection=true;
			 Encrypt=false"/>
	</connectionStrings>
</configuration>